<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'addStock')}">

<body>

<div class="card text-white bg-success">
	<h4 class="card-header">
        Ingreso de Productos
	</h4>
  	<div class="card-body">
		<form th:Object="${movement}" th:action="@{/move/{empId}/addProducts(empId=${empId})}" method="POST">
		    
			<div class="card text-white bg-dark">
				
				<div class="card-header">
				
					<table class="table table-dark table-hover">
					  <thead>
					    <tr>
					      <th scope="col">
					      <label for="emp">
						    		Emplead@
					    		</label>
					    		<p><span th:text="${movement.employee.firstName}"></span>
						    		con id <span th:text="${movement.employee.id}"></span></p>
					    		<input type="hidden" th:field="*{employee}" class="form-control" id="emp">
					      </th>
					      <th scope="col">
					      	<label for="type">
						    		Realizando operación de 
					    		</label>
					    		<p th:if="${movement.type.type}==Input">Ingreso</p>
					    		<input type="hidden" th:field="*{type}" class="form-control" id="type">
					      </th>
					      <th scope="col">
					      <label for="date">
					      	Fecha
					      </label>
					      	<input type="date" th:field="*{date}" class="form-control form-control-sm" id="date">
					      </th>					      	
					      <th>
					      	
					      </th>
					    </tr>
					  </thead>
					  <tbody></tbody>
					</table>
					
			    </div>
			    
			  	<div class="card-body">
			  		Artículo
			  		<select id="selectedPro">
			  			<option selected>
			  			</option>
			  			<option th:each="product : ${movement.products}" 
			  					th:value="${product.id}"
			  					th:text="${product.item} + ' ' + ${product.hero} + ' ' + ${product.brand}">
			  				
			  			</option><!-- th:if="${product.units}>0" -->
			  		</select>
			  		<button type="button" class="btn btn-outline-success" id="addPro" disabled>Añadir</button>
			  		
			  		<table class="table table-dark table-hover" id="toAddPro">
					  <thead>
					   <tr>
					   	<th scope="col">#</th>
					   	<th scope="col">Item</th>
					   	<th scope="col">Hero</th>
					   	<th scope="col">Brand</th>
					   	<th scope="col">Unidades</th>
					   </tr>
					  </thead>
					  <tbody>
					  	<tr th:each="pro : ${movement.products}" class="idPro">
						    <td>
						    	  <input type="text" th:value="${pro.id}" readonly>
						    	 </td>
						    	 <td>
						      <input type="text" value="${pro.item}" readonly> 
						    </td>
						    <td>
						      <input type="text" value="${pro.hero}" readonly>
						    </td>
						    <td>
						      <input type="text" value="${pro.brand}" readonly>
						    </td>
						    <td>
						      <input type="text" value="${pro.units}" required>
						    </td>
					  	</tr>
					  </tbody>
			  		</table>
			  		
				</div>
				
				<div class="card-footer">
				<button type="submit" class="btn btn-outline-success" id="submit" disabled>Guardar</button>
			    </div>
			</div>
			
			
		</form>
	</div>
</div>
<script>
    var productsTo = "[[${movement.products}]]";
</script>
<script src="../static/resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
</body>
</html>
